/** Menubar CSS */
/* md ekran boyutunun altında border yok */
.border-md {
    border: none;
}

/* 350px ve md ekran boyutu aralığında 50% */
.w-50-md-10 {
    width: 50%;
}

@media (min-width: 768px) {
    /* md ve üzeri ekran boyutunda border var */
    .border-md {
        border: 1px solid #e3e6f0;
    }

    /* md ve üzeri ekran boyutunda 10% */
    .w-50-md-10 {
        width: 10%;
    }
}

/* 350px ve altı ekran boyutunda 100% */
@media (max-width: 350px) {
    .w-50-md-10 {
        width: 100%;
    }
}
/** END OF MENUBAR CSS */